<%= render partial: 'layouts/soopli/header', locals: {title: "Categories"} %>

<%= render partial: 'layouts/soopli/tabs', locals: {controller_class: controller_name , action: "index", search_field:"name_cont"} %>

<!-- Modal Advanced Search -->
<div id="AdvancedSearch" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Advanced Search</h4>
      </div>

      <%= search_form_for @q, :builder => SimpleForm::FormBuilder, :html => { :class => 'form-group modal-form' }  do |f| %>
          <div class="modal-body">
            <%= f.input :name_cont, label: 'Name contains', required: false %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.button :submit, :class => 'btn btn-primary', :value => 'Search' %>
          </div>
      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="table-responsive">
  <table class="table table-striped table-hover table-sm table-bordered">
    <thead>
    <tr>
	  <th>Actions</th>
	  <th><%= sort_link @q, :id, "Id" %></th>
      <th><%= sort_link @q, :name, "Name"%></th>
      <th><%= sort_link @q, :status_id, "Status"%></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td>
			<%= render partial: 'layouts/soopli/actions', locals: {link_to_show: category_path(category) , link_to_edit: edit_category_path(category) , link_to_delete: nil} %>
		</td>
        <td><%= category.id %></td>		
        <td><%= category.name %></td>
		<td><span class="<%= status_class_for(category.status_id) %>"><%= category.status.name %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @categories, views_prefix: 'soopli' %>

