<%= render partial: 'layouts/soopli/header', locals: {title: "Suppliers"} %>

<%= render partial: 'layouts/soopli/tabs', locals: {controller_class: controller_name , action: "index", search_field:"name_cont"} %>

<!-- Modal Advanced Search -->
<div id="AdvancedSearch" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Advanced Search</h4>
      </div>

      <%= search_form_for @q, :builder => SimpleForm::FormBuilder, :html => { :class => 'form-group modal-form' }  do |f| %>
          <div class="modal-body">
            <%= f.input :name_cont, label: 'Name contains', required: false %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.button :submit, :class => 'btn btn-primary', :value => 'Search' %>
          </div>
      <% end %>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="table-responsive">
  <table class="table table-striped table-hover table-sm table-bordered">
    <thead>
    <tr>
	  <th>Actions</th>
	  <th><%= sort_link @q, :id, "Id" %></th>
      <th><%= sort_link @q, :name, "Name"%></th>
      <th><%= sort_link @q, :status_id, "Status"%></th>
      <th><%= sort_link @q, :supplier_type_id, "Supplier type"%></th>
      <th><%= sort_link @q, :website, "Website"%></th>
      <th><%= sort_link @q, :facebook, "Facebook"%></th>
      <th><%= sort_link @q, :instagram, "Instagram"%></th>
      <th><%= sort_link @q, :relation_started_at, "Relation started at"%></th>

    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
	    <td>
			<%= render partial: 'layouts/soopli/actions', locals: {link_to_show: supplier_path(supplier) , link_to_edit: edit_supplier_path(supplier) , link_to_delete: nil} %>
		</td>
        <td><%= supplier.id %></td>		
	      <td><%= supplier.name %></td>
        <td><%= supplier.status.name %></td>
        <td><%= supplier.supplier_type.name %></td>
        <td><a href="<%= supplier.website %>" target="_blank"><%= supplier.website %></a> </td>
	      <td><%= supplier.facebook %></td>
        <td><%= supplier.instagram %></td>
	      <td><%= supplier.relation_started_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= paginate @suppliers, views_prefix: 'soopli' %>
