<!-- Versions table-->
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm table-bordered">
    <thead>
    <tr>
      <th><%= sort_link @q, :id, "Id" %></th>
      <th><%= sort_link @q, :item_id, "Object Id" %></th>
      <th><%= sort_link @q, :event, "Event" %></th>
      <th><%= sort_link @q, :whodunnit, "Who" %></th>
      <th><%= sort_link @q, :created_at, "Date" %></th>
      <th>Change</th>
    </tr>
    </thead>
    <tbody>
    <% versions.each do |version| %>
        <tr>
          <td><%= version.id %></td>
          <td><%= version.item_id %></td>
          <td><%= version.event %></td>
          <td>
          <% begin %>
          <%= version.user %>
          <% rescue %>
          <%= version.whodunnit %>
          <% end %>
          </td>
          <td><%= version.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          <td>
            <% version.changeset.each do |k,v| %>
                <%= k.humanize %>:&nbsp;
                <code><%= v[0]==nil ? "nil":v[0] %></code>
                &nbsp;=>&nbsp;
                <code><%= v[1]==nil ? "nil":v[1] %></code>
                <br>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate versions, views_prefix: 'soopli' %>
</div>

