
<div class="form-element-align">
  <%= simple_form_for contract_type, :html => { :class => 'form-group' } do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
	
      <div class="form-actions">
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    contract_types_path, :class => 'btn btn-warning' %>
      </div>

  <% end %>
</div>