
<div class="form-element-align">
  <%= simple_form_for person, :html => { :class => 'form-group' } do |f| %>

		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :phone %>
		<%= f.input :mobile %>
		<%= f.input :position_id %>
		<%= f.input :type %>
		
	
      <div class="form-actions">
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    eval("#{@classe.pluralize}_path"), :class => 'btn btn-warning' %>
      </div>

  <% end %>
</div>



